# IS620 Group Project

<b>Group project: Using any of the three classifiers described in chapter 6 of Natural Language Processing with Python, and any features you can think of, build the best name gender classifier you can. Begin by splitting the Names Corpus into three subsets: 500 words for the test set, 500 words for the dev- test set, and the remaining 6900 words for the training set. Then, starting with the example name gender classifier, make incremental improvements. Use the dev-test set to check your progress. Once you are satisfied with your classifier, check its final performance on the test set. How does the performance on the test set compare to the performance on the dev-test set? Is this what you'd expect?</b>

<font color= blue> <b>Group Members:- Aaron Palumbo, Brian Chu,  David Stern, Partha Banerjee;  Rohan Fray, Tulasi Ramarao;</b></font>

## Dependencies

In [3]:
import nltk
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
%matplotlib inline

## Split Data

In [4]:
names = nltk.corpus.names
maleNames = names.words('male.txt')
femaleNames = names.words('female.txt')

* Training Data

    * Train Set: Used to train the model

    * Validation Set: Model Selection

* Test Set: Measure Final Model performance (Only use this once at the end)

There are different numbers of male and female names:

In [5]:
print "Number of male names: {}".format(len(maleNames))
print "Number of female names: {}".format(len(femaleNames))

Number of male names: 2943
Number of female names: 5001

We will have to do our splits separately. We will split the data with the goal of maintaining the same ratio of male to female in our train, validation, and test sets.

In [6]:
perMale = 1.0 * len(maleNames) / (len(maleNames) + len(femaleNames))
perMale

# total names
numNames = len(names.words())
# number used for testing
numTesting = 1000
# slit between final test and validation
perTest = 0.5

# numbers for data splitting
numTestingMale = int(perMale * numTesting)
numTestingFemale = numTesting - numTestingMale

numTestMale = int(numTesting * perTest * perMale)
numTestFemale = int(numTesting *  perTest - numTestMale)

In [7]:
maleTrain, maleTesting = train_test_split(
    maleNames, test_size=numTestingMale, random_state=5)
maleVal, maleTest = train_test_split(
    maleTesting, test_size=numTestMale, random_state=6)

femaleTrain, femaleTesting = train_test_split(
    femaleNames, test_size=numTestingFemale, random_state=7)
femaleVal, femaleTest = train_test_split(
    femaleTesting, test_size=numTestFemale, random_state=8)

# Check numbers
print "Val Set   = {} (Should be 500)".format(len(maleVal) + len(femaleVal))
print "Test Set  = {} (Should be 500)".format(len(maleTest) + len(femaleTest))
print "Train Set = {} (Should be >6900)".format(len(maleTrain) + len(femaleTrain))

Val Set   = 500 (Should be 500)
Test Set  = 500 (Should be 500)
Train Set = 6944 (Should be >6900)

In [8]:
train = pd.DataFrame({'name': maleTrain + femaleTrain,
                      'sex': (['male'] * len(maleTrain) + 
                              ['female'] * len(femaleTrain))})
validation = pd.DataFrame({'name': maleVal + femaleVal,
                           'sex': (['male'] * len(maleVal) +
                                   ['female'] * len(femaleVal))})
test = pd.DataFrame({'name': maleTest + femaleTest,
                     'sex': (['male'] * len(maleTest) +
                             ['female'] * len(femaleTest))})

In [9]:
# Just to make sure we all see the same thing
print train.loc[56, :]
print
print validation.loc[38, :]
print
print test.loc[486, :]

name    Kristos
sex        male
Name: 56, dtype: object

name    Orton
sex      male
Name: 38, dtype: object

name      Shea
sex     female
Name: 486, dtype: object

Names should be Kristos, Orton, and Shea

----

            name     sex
0        Barthel    male
1       Claudius    male
2         Aharon    male
3       Staffard    male
4         Rollin    male
5         Jessey    male
6          David    male
7          Selig    male
8          Hersh    male
9         Pietro    male
10         Adolf    male
11          Chet    male
12      Robinson    male
13       Nichole    male
14      Sherwood    male
15      Shepperd    male
16         Walsh    male
17        Ashley    male
18    Siddhartha    male
19         Ozzie    male
20        Gasper    male
21      Voltaire    male
22        Tallie    male
23        Kelvin    male
24         Boris    male
25      Nicholas    male
26        Merrel    male
27         Trent    male
28        Blaine    male
29         Jerri    male
...          ...     ...
6914      Shayla  female
6915       Rahel  female
6916      Vinnie  female
6917         Lil  female
6918      Sallie  female
6919       Dalia  female
6920    Pamelina  female
6921     Diannne  female
6922        Nina  female
6923     Louella  female
6924      Meriel  female
6925   Jacquelyn  female
6926        Lara  female
6927    Atalanta  female
6928      Dulsea  female
6929     Corenda  female
6930      Malina  female
6931      Kippie  female
6932      Sileas  female
6933   Shoshanna  female
6934      Myriam  female
6935     Kaitlin  female
6936       Mandi  female
6937       Dolli  female
6938     Chelsie  female
6939     Sarette  female
6940     Juliana  female
6941      Bertie  female
6942       Darcy  female
6943     Sabrina  female

[6944 rows x 2 columns]